Django==3.1.2
django-cors-headers==3.5.0
django-debug-toolbar==3.1.1
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
numpy==1.18.5
Pillow==8.0.0
PyJWT==1.7.1
sqlparse==0.4.1
psycopg2-binary==2.8.6
vncorenlp==1.0.3
pyOpenSSL==19.1.0
django-sslserver==0.22
timeloop==1.0.2
pickle-mixin==1.0.2
pandas==1.1.3